* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 4rem;
}
b {
    color:cyan;
}
#btn1 {
    background-color:cornflowerblue;
    font-size: 1.5rem;
}
a{
    text-decoration-line: none;
}
.btn2 {
    background-color: black;
    font-size: 1.5rem;
}
.anchor:link {
    color:white
}
